<form action="/admin/update-waste-info" method="POST">
    <div class="bg_img">
        <div class="page-wrapper bg p-t-130 p-b-100 font-poppins">
            <div class="wrapper wrapper--w680">
                <div class="card card-4">
                    <div class="card-body">
                        <%if(messages.error){%>
                        <span class="text-red-500 text-sm" ><%= messages.error%></span>
                        <%}%>
                        <h2 class="title">Waste Updation Form</h2>
                        <form action="/index" method="POST">
                            <div class="row row-space">
                                <div class="col-2">
                                    <div class="input-group">
                                        <label class="label required">Center Name</label>
                                        <input class="input--style-4" type="text" name="CenterName" value="<%=messages.CenterName%>" placeholder="Enter Center Name" required>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="input-group">
                                        <label class="label required">Waste Type</label>
                                        <input class="input--style-4" type="text" value="<%=messages.WasteType%>" name="WasteType" placeholder="Enter Society Address" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-space">
                                <div class="col-2">
                                    <div class="input-group">
                                        <label class="label required">Waste Quantity</label>
                                        <input class="input--style-4" type="text" name="WasteQty" value="<%=messages.WasteQuanity%>" placeholder="Enter Waste Quantity" required>
                                    </div>
                                </div>
                            <div class="col-2">
                                    <div class="input-group">
                                        <label class="label">Waste Description</label>
                                        <input class="input--style-4" type="text" name="WasteDesc" value="<%=messages.WasteDesc%>"placeholder="Enter Waste Description" required>
                                    </div>
                                </div>
                            </div>
                            <div class="p-t-15">
                                <button class="btn btn--radius-2 btn--blue" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
        <!-- Jquery JS-->
        <script src="vendor/jquery/jquery.min.js"></script>
        <!-- Vendor JS-->
        <script src="vendor/select2/select2.min.js"></script>
        <script src="vendor/datepicker/moment.min.js"></script>
        <script src="vendor/datepicker/daterangepicker.js"></script>
    



    